@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrace";
}
<div class="row justify-content-md-center">
    <div class="register-box">
        <div class="register-logo">
            <a href="./Index">Portál <b>Timesheet</b></a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <form method="post">
                    <h4>Založit nový účet.</h4>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Input.Name"></label>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Name" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Surname"></label>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Surname" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Email" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <div class="input-group mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrovat</button>
                </form>
            </div>
        </div>
    </div>
</div>