@page
@model Portal.Areas.RewardSummaries.Pages.IndexModel

@{
    ViewData["Title"] = "Přehled odměn";
}

<!-- Timelime example  -->
<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <div class="timeline">
            @foreach (var label in Model.YearsMonths)
            {
                @foreach (var labelItem in Model.YearsMonths.Where(x => x == label).Select(x => x.Item2).FirstOrDefault())
                {
                    var year = label.Item1 == null ? "Neuvedeno" : label.Item1.ToString();
                    var month = labelItem == null ? "Neuvedeno" : labelItem.ToString();
                    <!-- timeline time label -->
                    <div class="time-label">
                        <span class="bg-green">@year/@month</span>
                    </div>
                    <!-- /.timeline-label -->
                    var rewardSummaries = Model.RewardSummary.Where(x => x.CreateDateTimeYear == label.Item1 && x.CreateDateTimeMonth == labelItem);

                    @foreach (var person in rewardSummaries.GroupBy(x => x.Person))
                    {
                        <!-- timeline item -->
                        <div>
                            <i class="fas fa-user bg-info"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fas fa-sort-amount-down"></i> <strong>@person.Select(x => x.Id).Count()</strong> výkazů.</span>
                                <h3 class="timeline-header"><a asp-area="People" asp-page="Index" asp-route-id="@person.Key.Id" class="text-info">@Html.DisplayFor(modelItem => person.Key.FullName)</a></h3>

                                <div class="timeline-body">
                                    Výkazy?
                                </div>
                                <div class="timeline-footer">
                                </div>
                            </div>
                        </div>
                        <!-- END timeline item -->
                    }

                    @foreach (var rewardSummary in rewardSummaries)
                    {

                    }
                }
            }
        </div>
    </div>
    <!-- /.col -->
</div>
