@page
@model Portal.Pages.People.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Person.Id" />
            <div class="form-group">
                <label asp-for="Person.Name" class="control-label"></label>
                <input asp-for="Person.Name" class="form-control" />
                <span asp-validation-for="Person.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Surname" class="control-label"></label>
                <input asp-for="Person.Surname" class="form-control" />
                <span asp-validation-for="Person.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.DateBirth" class="control-label"></label>
                <input asp-for="Person.DateBirth" class="form-control" />
                <span asp-validation-for="Person.DateBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.CreateTime" class="control-label"></label>
                <input asp-for="Person.CreateTime" class="form-control" />
                <span asp-validation-for="Person.CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.Street" class="control-label"></label>
                <input asp-for="Person.Street" class="form-control" />
                <span asp-validation-for="Person.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.HouseNumber" class="control-label"></label>
                <input asp-for="Person.HouseNumber" class="form-control" />
                <span asp-validation-for="Person.HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.City" class="control-label"></label>
                <input asp-for="Person.City" class="form-control" />
                <span asp-validation-for="Person.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.State" class="control-label"></label>
                <input asp-for="Person.State" class="form-control" />
                <span asp-validation-for="Person.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PostalCode" class="control-label"></label>
                <input asp-for="Person.PostalCode" class="form-control" />
                <span asp-validation-for="Person.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.HourReward" class="control-label"></label>
                <input asp-for="Person.HourReward" class="form-control" />
                <span asp-validation-for="Person.HourReward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BankAccount" class="control-label"></label>
                <input asp-for="Person.BankAccount" class="form-control" />
                <span asp-validation-for="Person.BankAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.BankCode" class="control-label"></label>
                <input asp-for="Person.BankCode" class="form-control" />
                <span asp-validation-for="Person.BankCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Person.IsActive" /> @Html.DisplayNameFor(model => model.Person.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Person.HasTax" /> @Html.DisplayNameFor(model => model.Person.HasTax)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Person.SectionId" class="control-label"></label>
                <select asp-for="Person.SectionId" class="form-control" asp-items="ViewBag.SectionId"></select>
                <span asp-validation-for="Person.SectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.PaidFromId" class="control-label"></label>
                <select asp-for="Person.PaidFromId" class="form-control" asp-items="ViewBag.PaidFromId"></select>
                <span asp-validation-for="Person.PaidFromId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.JobId" class="control-label"></label>
                <select asp-for="Person.JobId" class="form-control" asp-items="ViewBag.JobId"></select>
                <span asp-validation-for="Person.JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Person.IdentityDocument" class="control-label"></label>
                <input asp-for="Person.IdentityDocument" class="form-control" />
                <span asp-validation-for="Person.IdentityDocument" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

