@page
@model IndexModel
@{
    ViewData["Title"] = "Uživatelský účet";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-6">
                    <h3 class="text-dark"><i class="fas fa-user mr-2"></i> @Html.DisplayFor(model => model.Fullname)</h3>
                    <p class="text-muted">@Html.DisplayFor(model => model.Email)</p>
                    <br>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}