@using Microsoft.AspNetCore.Identity
@using Portal.Areas.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-area="" asp-page="Index" class="brand-link">
        <img src="~/img/logo.png" alt="Timesheet" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Portál Timesheet</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info d-flex">
                <div class="d-inline-block">
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-block">
                        @{
                            string userName = "Anonym";
                            if (SignInManager.IsSignedIn(User))
                            {
                                var user = await UserManager.GetUserAsync(User);
                                userName = user.FullName;
                            }
                        }
                        <i class="nav-icon fas fa-user mr-2"></i> @userName
                    </a>
                </div>
                <div class="d-inline-block">
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Index" method="post">
                    </form>
                    <a href="" class="d-block logout-link">
                        <i class="nav-icon fas fa-sign-out-alt ml-2"></i>
                    </a>
                </div>
            </div>

        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-area="Timesheets" asp-page="/Index" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>Výkazy</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="RewardSummaries" asp-page="/Index" class="nav-link">
                        <i class="nav-icon fas fa-coins"></i>
                        <p>Odměny</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="People" asp-page="/Index" class="nav-link">
                        <i class="nav-icon fas fa-running"></i>
                        <p>Trenéři</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Payments" asp-page="/Index" class="nav-link">
                        <i class="nav-icon fas fa-hand-holding-usd"></i>
                        <p>Platby</p>
                    </a>
                </li>
                @if (User.IsInRole(Roles.Admin.ToString()))
                {
                    <li class="nav-header">Nastavení</li>
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Manage" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Uživatelé</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Documents" asp-page="/Index" class="nav-link">
                            <i class="nav-icon fas fa-handshake"></i>
                            <p>Smlouvy</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Finances" asp-page="/Index" class="nav-link">
                            <i class="nav-icon fas fa-book-open"></i>
                            <p>Dotace</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Sections" asp-page="/Index" class="nav-link">
                            <i class="nav-icon fas fa-bars"></i>
                            <p>Sekce</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="menu-data" href="#" class="nav-link">
                            <i class="nav-icon fas fa-upload"></i>
                            <p>
                                Data
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="Settings" asp-page="/Import/Timesheet" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Výkazy práce</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>XXX</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item">
                    <a href="" class="nav-link logout-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>Odhlásit se</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

@section Scripts{ 
<script>
    $(document).ready(function() {
        $('.logout-link').on('click', function () {
            $('#logoutForm').submit();
        });
    });
</script>
}